name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  merge_group:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: rustup update
      shell: bash
    - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
    - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305
      with:
        crate: typos-cli
    - run: eng/build.sh
      shell: bash